# Scraping with Pandas

In [1]:
import pandas as pd

In [2]:
# File to Load
file_to_load = "data/Cities.csv"

# Read Purchasing File and store into Pandas data frame
cities_data = pd.read_csv(file_to_load)

# Display headers
cities_data.head(6)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
5,5,atuona,78,PF,1558378755,76,-9.80,-139.03,81.96,16.49

#### What we get in return is a list of dataframes for any tabular data that Pandas found.

In [3]:
type(cities_data)

pandas.core.frame.DataFrame

#### We can slice off any of those dataframes that we want using normal indexing.

In [ ]:
df = tables[0]
df.head()

#### Drop all single header rows

In [ ]:
df.columns = df.columns.get_level_values(0)
df = df.loc[df.Ref.str.startswith("[")]
df.head()

#### Slipt column values into two separate columns

In [ ]:
columnsplit = df['City'].str.split(", ", expand=True)
df = df.assign(City=columnsplit[0],State=columnsplit[1])
df.head()

#### Drop a column

In [ ]:
df = df.drop(['Ref'], axis=1)
df.head()

#### Reset an index

In [ ]:
df = df.reset_index(drop=True)
df.head()

In [ ]:
df.loc[df.State=="New York"]

## DataFrames as HTML

#### Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [ ]:
html_table = df.to_html()
html_table

#### You may have to strip unwanted newlines to clean up the table.

In [ ]:
html_table.replace('\n', '')

You can also save the table directly to a file.

In [ ]:
df.to_html('table.html')

In [ ]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html